/* CSS stylesheet for webfonts in Gnuastro's manual webpage.

Original author:
    Mohammad Akhlaghi <mohammad@akhlaghi.org>
Contributing author(s):
Copyright (C) 2016-2021, Free Software Foundation, Inc.

This stylesheet is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public Licence as
published by the Free software foundation, either version 3 of the
License, or (at your option) any later version.

This stylesheet is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
General Public License for more details.

A copy of the GNU General Public License is available at
<http://www.gnu.org/licenses>.*/



@font-face {
    font-family: 'open_sanslight';
    src: url('../OpenSans/light/OpenSans-Light-webfont.eot');
    src: url('../OpenSans/light/OpenSans-Light-webfont.eot?#iefix')
	    format('embedded-opentype'),
         url('../OpenSans/light/OpenSans-Light-webfont.woff')
	    format('woff'),
         url('../OpenSans/light/OpenSans-Light-webfont.ttf')
	    format('truetype'),
         url('../OpenSans/light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../OpenSans/light-italic/OpenSans-LightItalic-webfont.eot');
    src: url('../OpenSans/light-italic/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../OpenSans/light-italic/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../OpenSans/light-italic/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../OpenSans/light-italic/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../OpenSans/regular/OpenSans-Regular-webfont.eot');
    src: url('../OpenSans/regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../OpenSans/regular/OpenSans-Regular-webfont.woff')
	    format('woff'),
         url('../OpenSans/regular/OpenSans-Regular-webfont.ttf')
	    format('truetype'),
         url('../OpenSans/regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
